.app-wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.layout-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
    margin-top: 40px;
    align-items: flex-start;
    min-height: 100vh;
}

.layout-sidebar {
    width: 100%;
}

.layout-sidebar .sidebar-container {
    margin-top: 60px;
    margin-bottom: 30px;
}

.layout-content {
    width: 100%;
    margin-left: 95px;
}