html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.main-page {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}

.shop {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 165px;
  width: 100%;
  max-width: 1400px;
  align-items: flex-start;
}

.sidebar-container {
  width: 95%;
  min-height: 735px;
  border: 2px solid #964c9a;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px 0 0 100px;
}

.profile-section {
  padding: 20px;
}

.profile-card {
  background-color: #f4ecf7;
  border: 1px solid #964c9a;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-img {
  width: 55px;
  height: 55px;
  border-radius: 30px;
  object-fit: cover;
}

.profile-info h4 {
  margin: 0;
  font-size: 16px;
  color: black;
  text-align: center;
}

.profile-info p {
  margin: 2px 23px 0;
  font-size: 14px;
  color: black;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  border-bottom: 2px solid #964c9a;
  color: #964c9a;
}

.nav-menu a:nth-child(1) {
  border-top: 2px solid #964c9a;
}

.nav-icon {
  font-size: 30px;
  margin-right: 15px;
}

.nav-item span {
  font-size: 16px;
  font-weight: 500;
}

.nav-item.active {
  background-color: #964c9a;
  color: white;
}

.support-section {
  background-color: #964c9aa6;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 85px;
}

.section-title {
  text-align: left;
  font-size: 18px;
  color: black;
  margin-bottom: 25px;
  margin-top: 0;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  width: 100%;
}

.product-card {
  display: flex;
  gap: 15px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 23px 20px rgba(0, 0, 0, 0.1);
}

.products-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info p:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
}

.product-info p:nth-child(2) {
  font-size: 16px;
  font-weight: 300;
}

.product-info p:nth-child(3) {
  font-size: 18px;
  font-weight: 600;
}

.product-info p:nth-child(4) {
  font-size: 16px;
  font-weight: 400;
}

.recommended-container {
  margin: 50px 0 40px 0;
}

.discount {
  font-weight: 300;
}

.support-icon {
  font-size: 30px;
}

.to-cart-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.to-cart {
  background-color: #964c9a;
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 15px;
}

.fav-icon {
  display: flex;
  align-items: center;
}
